<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head', {title: "ClassRoom"}) %>
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3">
          <span class="text-danger">Opps!</span> Página No Encotrada.
        </p>
        <p class="lead">¡La url que ingresaste no es valida!</p>
        <a href="/" class="btn btn-success">Volver Al Inicio</a>
      </div>
    </div>
  </body>
</html>
