<div class="card my-4">
  <div class="card-header"><%= cardTitle %></div>
  <div class="card-body">
    <p class="card-text fs-3"><%= cardInfo %></p>
    <p class="card-text fs-4">
      Subida: <small class="text-muted"><%= updateAt %></small>
    </p>
    <p class="card-text fs-4">
      Entrega: <small class="text-muted"><%= deadline %></small>
    </p>
    <a href="#" class="btn btn-success">Inspeccionar</a>
  </div>
</div>
