<div class="card my-3">
  <img src="./defaults/homework_bg.jpg" class="card-img" alt="backgroundImage"/>
  <div class="card-img-overlay bg-dark bg-opacity-25">
    <h5 class="card-title text-white"><%= cardTitle %></h5>
    <p class="card-text text-white">
      <%= cardInfo %>
    </p>
  </div>
</div>
